In [1]:
import pandas as pd
from sqlalchemy import create_engine
from config import postrespw

In [2]:
csv_file = "fullnytdata.csv"
nyt_data_df = pd.read_csv(csv_file)

In [3]:
nyt_data_df=nyt_data_df.rename(columns={"Rating Count": "Rating_Count"})
nyt_data_df.head()

,List,List_Date,Title,Author,Weeks_On_List,Rank_This_Week,Publisher,Primary_ISBN_10,Primary_ISBN_13,Description,Average_Rating,Rating_Count,Whole_Rating
0,Combined Print and E-Book Fiction,2020-09-27,WHERE THE CRAWDADS SING,Delia Owens,105,6,Putnam,0735219095,9780735219090,In a quiet town on the North Carolina coast in...,4.47,947988,4
1,Combined Print and E-Book Fiction,2020-09-13,LITTLE FIRES EVERYWHERE,Celeste Ng,81,15,Penguin Press,0735224315,9780735224315,An artist upends a quiet town outside Cleveland.,4.10,699769,4
2,Combined Print and E-Book Fiction,2020-05-03,THE TATTOOIST OF AUSCHWITZ,Heather Morris,70,9,Harper,0062797166,9780062797162,A concentration camp detainee tasked with perm...,4.26,455028,4
3,Combined Print and E-Book Fiction,2020-02-02,BEFORE WE WERE YOURS,Lisa Wingate,53,13,Ballantine,0425284700,9780425284704,A South Carolina lawyer learns about the quest...,4.37,369710,4
4,Combined Print and E-Book Fiction,2020-09-06,THE SILENT PATIENT,Alex Michaelides,36,14,Celadon,1250301696,9781250301697,Theo Faber looks into the mystery of a famous ...,4.09,488662,4

In [4]:
csv_file2 = "fullbookdata.csv"
bxing_data_df = pd.read_csv(csv_file2)

In [5]:
bxing_data_df=bxing_data_df.rename(columns={"Rating Count": "Rating_Count"})
bxing_data_df.head()

,book_id,Primary_ISBN_10,Primary_ISBN_13,Author,original_publication_year,original_title,Title,Average_Rating,Rating_Count,Whole_Rating
0,2767052,439023483,9780439023480,Suzanne Collins,2008,The Hunger Games,"The Hunger Games (The Hunger Games, #1)",4.34,4780653,4
1,3,439554934,9780439554930,"J.K. Rowling, Mary GrandPrÃ©",1997,Harry Potter and the Philosopher's Stone,Harry Potter and the Sorcerer's Stone (Harry P...,4.44,4602479,4
2,41865,316015849,9780316015840,Stephenie Meyer,2005,Twilight,"Twilight (Twilight, #1)",3.57,3866839,4
3,2657,61120081,9780061120080,Harper Lee,1960,To Kill a Mockingbird,To Kill a Mockingbird,4.25,3198671,4
4,4671,743273567,9780743273560,F. Scott Fitzgerald,1925,The Great Gatsby,The Great Gatsby,3.89,2683664,4

In [6]:
bxing_data_df = bxing_data_df.drop_duplicates(subset="Primary_ISBN_13", keep="first", inplace=False)

In [7]:
ny_books = nyt_data_df[["Primary_ISBN_13", "Title", "Author", "Whole_Rating"]]
bx_books = bxing_data_df[["Primary_ISBN_13", "Title", "Author", "Whole_Rating"]]

In [8]:
books_data = ny_books.append(bx_books)
books_data

,Primary_ISBN_13,Title,Author,Whole_Rating
0,9780735219090,WHERE THE CRAWDADS SING,Delia Owens,4
1,9780735224315,LITTLE FIRES EVERYWHERE,Celeste Ng,4
2,9780062797162,THE TATTOOIST OF AUSCHWITZ,Heather Morris,4
3,9780425284704,BEFORE WE WERE YOURS,Lisa Wingate,4
4,9781250301697,THE SILENT PATIENT,Alex Michaelides,4
...,...,...,...,...
7855,9781416523730,"Billy Budd, Sailor",Herman Melville,3
7856,9780441019460,"Bayou Moon (The Edge, #2)",Ilona Andrews,4
7857,9780679733710,"Means of Ascent (The Years of Lyndon Johnson, #2)",Robert A. Caro,4
7858,9780393307630,The Mauritius Command,Patrick O'Brian,4
7859,9780061711530,Cinderella Ate My Daughter: Dispatches from th...,Peggy Orenstein,4

In [9]:
ny_ratings = nyt_data_df[["Primary_ISBN_13", "Average_Rating", "Whole_Rating", "Rating_Count"]]
bx_ratings = bxing_data_df[["Primary_ISBN_13", "Average_Rating", "Whole_Rating", "Rating_Count"]]

In [10]:
ratings_data = ny_ratings.append(bx_ratings)
ratings_data

      Primary_ISBN_13  Average_Rating  Whole_Rating  Rating_Count
0       9780735219090            4.47             4        947988
1       9780735224315            4.10             4        699769
2       9780062797162            4.26             4        455028
3       9780425284704            4.37             4        369710
4       9781250301697            4.09             4        488662
...               ...             ...           ...           ...
7855    9781416523730            3.09             3         10866
7856    9780441019460            4.09             4         17204
7857    9780679733710            4.25             4         12582
7858    9780393307630            4.35             4          9421
7859    9780061711530            3.65             4         11279

[7955 rows x 4 columns]

In [11]:
nyt_data = nyt_data_df[["Primary_ISBN_13", "List", "Weeks_On_List", "Publisher", "Description", "List_Date", "Rank_This_Week","Primary_ISBN_10"]]
nyt_data

,Primary_ISBN_13,List,Weeks_On_List,Publisher,Description,List_Date,Rank_This_Week,Primary_ISBN_10
0,9780735219090,Combined Print and E-Book Fiction,105,Putnam,In a quiet town on the North Carolina coast in...,2020-09-27,6,0735219095
1,9780735224315,Combined Print and E-Book Fiction,81,Penguin Press,An artist upends a quiet town outside Cleveland.,2020-09-13,15,0735224315
2,9780062797162,Combined Print and E-Book Fiction,70,Harper,A concentration camp detainee tasked with perm...,2020-05-03,9,0062797166
3,9780425284704,Combined Print and E-Book Fiction,53,Ballantine,A South Carolina lawyer learns about the quest...,2020-02-02,13,0425284700
4,9781250301697,Combined Print and E-Book Fiction,36,Celadon,Theo Faber looks into the mystery of a famous ...,2020-09-06,14,1250301696
...,...,...,...,...,...,...,...,...
296,9781627797047,Combined Print and E-Book Nonfiction,1,Holt,The ninth book in the conservative commentator...,2020-09-27,2,1627797041
297,9780593297612,Combined Print and E-Book Nonfiction,1,Penguin,"Six essays exploring topics, such as isolation...",2020-08-16,11,059329761X
298,9781501191916,Combined Print and E-Book Nonfiction,1,Gallery,The identical twins and WWE Hall of Famers sha...,2020-05-24,7,1501191918
299,9781982144890,Combined Print and E-Book Nonfiction,1,Simon & Schuster,"The actor recalls his career highlights, roman...",2020-05-10,8,1982144890
300,9781101906323,Combined Print and E-Book Nonfiction,1,Crown,Snippets of the “Saturday Night Live” head wri...,2020-08-02,11,1101906324

In [12]:
bookxing_data = bxing_data_df[["Primary_ISBN_13", "book_id", "original_title", "original_publication_year","Primary_ISBN_10"]]
bookxing_data

,Primary_ISBN_13,book_id,original_title,original_publication_year,Primary_ISBN_10
0,9780439023480,2767052,The Hunger Games,2008,439023483
1,9780439554930,3,Harry Potter and the Philosopher's Stone,1997,439554934
2,9780316015840,41865,Twilight,2005,316015849
3,9780061120080,2657,To Kill a Mockingbird,1960,61120081
4,9780743273560,4671,The Great Gatsby,1925,743273567
...,...,...,...,...,...
7855,9781416523730,15613,"Billy Budd, Sailor",1924,1416523723
7856,9780441019460,7130616,Bayou Moon,2010,441019455
7857,9780679733710,208324,Means of Ascent,1990,067973371X
7858,9780393307630,77431,The Mauritius Command,1977,039330762X
7859,9780061711530,8565083,Cinderella Ate My Daughter: Dispatches from th...,2011,61711527

In [13]:
rds_connection_string = (f"postgres:{postrespw}@localhost:5432/ETL_Book_Club")
engine = create_engine(f'postgresql://{rds_connection_string}')

In [14]:
 engine.table_names()

['nyt_data', 'bookxing_data', 'books_data', 'ratings_data']

In [15]:
bookxing_data.to_sql(name='bookxing_data', con=engine, if_exists='append', index=False)

In [16]:
pd.read_sql_query('select * from bookxing_data', con=engine).head()

,Primary_ISBN_13,book_id,original_title,original_publication_year,Primary_ISBN_10
0,9780439023480,2767052,The Hunger Games,2008,439023483
1,9780439554930,3,Harry Potter and the Philosopher's Stone,1997,439554934
2,9780316015840,41865,Twilight,2005,316015849
3,9780061120080,2657,To Kill a Mockingbird,1960,61120081
4,9780743273560,4671,The Great Gatsby,1925,743273567

In [17]:
nyt_data.to_sql(name='nyt_data', con=engine, if_exists='append', index=False)

In [18]:
pd.read_sql_query('select * from nyt_data', con=engine).head()

,Primary_ISBN_13,List,Weeks_On_List,Publisher,Description,List_Date,Rank_This_Week,Primary_ISBN_10
0,9780735219090,Combined Print and E-Book Fiction,105,Putnam,In a quiet town on the North Carolina coast in...,2020-09-27,6,0735219095
1,9780735224315,Combined Print and E-Book Fiction,81,Penguin Press,An artist upends a quiet town outside Cleveland.,2020-09-13,15,0735224315
2,9780062797162,Combined Print and E-Book Fiction,70,Harper,A concentration camp detainee tasked with perm...,2020-05-03,9,0062797166
3,9780425284704,Combined Print and E-Book Fiction,53,Ballantine,A South Carolina lawyer learns about the quest...,2020-02-02,13,0425284700
4,9781250301697,Combined Print and E-Book Fiction,36,Celadon,Theo Faber looks into the mystery of a famous ...,2020-09-06,14,1250301696

In [19]:
books_data.to_sql(name='books_data', con=engine, if_exists='append', index=False)

In [20]:
pd.read_sql_query('select * from books_data', con=engine).head()

  Primary_ISBN_13                       Title            Author  Whole_Rating
0   9780735219090     WHERE THE CRAWDADS SING       Delia Owens             4
1   9780735224315     LITTLE FIRES EVERYWHERE        Celeste Ng             4
2   9780062797162  THE TATTOOIST OF AUSCHWITZ    Heather Morris             4
3   9780425284704        BEFORE WE WERE YOURS      Lisa Wingate             4
4   9781250301697          THE SILENT PATIENT  Alex Michaelides             4

In [21]:
ratings_data.to_sql(name='ratings_data', con=engine, if_exists='append', index=False)

In [22]:
pd.read_sql_query('select * from ratings_data', con=engine).head()

  Primary_ISBN_13  Average_Rating  Whole_Rating  Rating_Count
0   9780735219090            4.47             4        947988
1   9780735224315            4.10             4        699769
2   9780062797162            4.26             4        455028
3   9780425284704            4.37             4        369710
4   9781250301697            4.09             4        488662